body{
    background-color: #FFFFFF;
    color:#666666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
}
header{
    background-color: #003058;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    background-image: url("utahtechlogo.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-origin: content-box;
    margin-bottom:0;
    line-height: 140%;
    padding-left: 1rem;
}
nav{
    font-weight: bold;
    background-color: #F3F3F3;
    padding: .5rem .5rem .5rem 2rem;
}
h2{
    color: #424242;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
dt{
    color: #003058;
    font-weight: bold;
}
.ut{
    color: #BA1C21;
    font-weight: bold;
}
footer{
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
}
#wrapper{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    max-width: 2048px;
    min-width: 960px;
    box-shadow: 0 3px 3px 66,66,0.3;
}
#homehero{
    background-image: url("homehero.jpg"); 
    height: 300px;
    background-size: cover;
    background-position: center;
}
h3{
    color: #003058;
}
main{
    padding-left: 2rem;
    padding-right: 2rem;
}
#studenthero{
    background-image: url("studenthero.jpg"); 
    height: 300px;
    background-size: cover;
    background-position: center;
}
#facultyhero{
    background-image: url("facultyhero.jpg"); 
    height: 300px;
    background-size: cover;
    background-position: center;
}
nav a { 
    text-decoration: none; 
}