
#wrapper{
    display: grid
    ;grid-auto-rows: minmax(0, auto);
    grid-template-columns:minmax(0px, 1fr) repeat(30, minmax(0, 175px)) minmax(0px, 1fr);

}

header{
    height: 50px;
    grid-row: 2 / 3;
    grid-column: 2 / -2;
    background-color: rgb(33, 160, 223);
}
#title {
    height: 80px;
    grid-row: 3 / 4;
    grid-column: 2 / 13;
    background-color: rgb(58, 123, 155);
}
#head2{
    height: 80px;
    grid-row: 3 / 4;
    grid-column: 13 / -2;
    background-color: rgb(33, 160, 223);
}
#head3{
    height: 125px;
    grid-row: 4 / 5;
    grid-column: 2 / -2;
    background-color: rgb(33, 160, 223);
}
nav{
    height: 40px;
    grid-row: 1/ 2;
    grid-column: 2 / -2;
    background-color: rgb(167, 136, 240);
}
#hero {
    height: 225px;
    grid-row: 5 /6;
    grid-column: 19/ 30;
    background-color: rgb(62, 206, 124);
}
main{
    height: 20px;
    grid-row: 5 /6;
    grid-column: 2/ -2;
    background-color: rgb(172, 219, 118);
}
#main2{
    height: 225px;
    grid-row: 5 /6;
    grid-column: 2/ 19;
    background-color: rgb(172, 219, 118);
}
#main3{
    height: 225px;
    grid-row: 5 /6;
    grid-column: 30/ -2;
    background-color: rgb(172, 219, 118);
}
#main4{
    height: 245px;
    grid-row: 6 /7;
    grid-column: 2/ -2;
    background-color: rgb(172, 219, 118);
}
footer{
    height: 45px;
    grid-row: 7 /8;
    grid-column: 2/ -2;
    background-color: rgb(167, 136, 240);
} 
